body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab'; 
  background-color: #FFF;
}

.container {
  max-width: 980px;
  margin: 0 auto; 
  height: 100%;
}

.wrapper {
  padding: 0 10px;
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
}



/*---------- Header/Nav ----------*/


@media screen and (max-width: 452px) {
  nav .brand-logo {
    font-size: 22px;
  }
}


/*---------- Intro ----------*/


.intro {
  padding-top: 10px;
}

.intro .container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro .wrapper {
  display: flex;
  justify-content: space-between;
  max-height: 700px;
}

.intro h2 {
  margin: 0px;
  padding-top: 20px;
  font-size: 36px;
}

.intro .text {
  width: 60%;
  margin: auto;
}

.intro .image-wrap {
  width: 40%;
}

.intro img {
  display: block;
  max-width: 100%;
  max-height: 300px;
  padding: 5px;
  margin: auto;
  border-radius: 100%;
}

@media screen and (max-width: 900px) {
  .intro .wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
    max-height: 100%; 
  }

  .intro .text {
    width: 100%; 
  }

  .intro .image-wrap {
    width: 100%;
  }

  .intro img {
    width: 250px;
    height: 250px;
  } 
}


/*---------- Looking For/Skills ----------*/
   

.tech .container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tech .wrapper {
  display: flex;
  justify-content: space-between;
}

.tech h2 {
  margin: 0px;
  margin-top: 20px;
  font-size: 36px;
  padding-top: 20px;
}

.tech .text {
  width: 60%;
  margin: 15px;
}

text h3 {
  display: block;
}

.tech .image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.tech img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 100%;
}

@media screen and (max-width: 900px) {
  .tech .wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
    max-height: 100%; 
  }

  .tech .text {
    width: 100%; 
  }

  .tech .image-wrap {
    width: 100%;
  }

  .tech img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
  } 
}


/*---------- My Work ----------*/


.work .container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.work h2 {

  margin: 0;
  margin-top: 20px;
  font-size: 36px;
  padding-top: 20px;
}


.work #project-wrapper {
  display: flex;
  justify-content: space-between;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 265px;
  color: #fff;
  background-color: #1E2C51;
  text-align: center;
  overflow: auto;
  border: 5px solid #1E2C51;
  border-radius: 5px;
  height: 400px; 
}

.projectTitle {
  height: 60px;
  width: 100%;
}

.work h3 {
  font-size: 100%;
  font-weight: 700;
  bottom: 50%;
}

.projectDescription {
  height: 125px;
  width: 100%;
}

.projectLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

.projects a {
  display: inline;
}

.work img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.work .btn {
  background-color: #FAB31E;
  color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  text-decoration: none;
}

.work .imgContainer {
  height: 150px;
  width: 100%;
}

@media only screen and (max-width: 880px) {
  .work .wrapper {
    flex-wrap: wrap;
    justify-content: space-around; 
  }

  .work .projects {
    width: 43%;
    min-width: 265px;
    margin: 10px; 
    } 
}

@media only screen and (max-width: 460px) {
  .work .wrapper {
    flex-wrap: wrap;
    justify-content: space-around; 
  }
  .work .projects {
    width: 70%;
    margin: 10px; 
    } 
}


/*---------- Learn More ----------*/


.moreAbout .container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

.moreAbout h2 {
  margin: 0;
  margin-top: 20px;
  font-size: 36px;
  padding-top: 20px;
}

.moreAbout .wrapper {
  display: flex;
  justify-content: space-between; 
}

.moreAbout .codeLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.moreAbout .btn {
  margin: 5px 0;
}

.moreAbout .btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 768px) {
  .moreAbout h2 {
    margin: 30px 0 10px 0; 
  }

  .moreAbout .wrapper {
    flex-wrap: wrap; 
  }
}


/*---------- Footer ----------*/


.footer {
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: white;
  overflow: auto; 
}


