
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab'; 
  background-color: #FFF;
}

.container {
  max-width: 980px;
  margin: 0 auto; 
  height: 100%;
}

.wrapper {
  padding: 10px;
}

h1, h2, h3 {
  text-align: center;
  text-transform: uppercase;
}


/*---------- Header/Nav ----------*/


header {
  background-color: #222222;
  position: fixed;
  z-index: 1000;
  width: 100%; 
  top: 0;
}

header #brand {
    float: left;
    color: #fff;
    display: inline-block;
    margin: 0;
    line-height: 44px;
}

header .dNav {
  float: right;
  margin-right: 15px; 
}

header .dNav ul {
  list-style-type: none;
}

header .dNav li {
  display: inline-block;
}

header #mobileIcon {
  display: none; 
}

header .dNav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
}

header .dNav a:hover {
  background-color: #FAB31E;
  color: #fff;
  border-radius: 0;
  border: none;
}

header #responsive {
  display: none;
  clear: both;
  text-align: center;
  margin: 0;
  padding: 0; 
}

header #responsive li {
  list-style: none;
  padding: 10px 0;
}

header #responsive li a {
  text-decoration: none;
  color: white; 
}

header #responsive li:hover {
  background-color: #f2f2f2;
  color: #000;
  border-radius: 0;
  border: none;
  transition: 0.3s;
}

@media screen and (max-width: 460px) {
  header .dNav li {
    display: none; }
  header #mobileIcon {
    display: inline-block; } }


/*---------- Intro ----------*/

.intro {
    padding-top: 10px;
}

.intro .container {
  background-color: #69bcf2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.intro .wrapper {
  display: flex;
  justify-content: space-between;
  max-height: 700px;
}

.intro h1 {
  font-size: 36px;
  margin: 50px 15px 25px 15px; 
}

.intro .text {
  width: 60%;
  margin: 15px;
}

text h3 {
  display: block;
}

.intro img {
  display: inline-block;
  max-height: 355px;
  margin: auto;
  width: 40%;
  border-radius: 100%;
}

@media screen and (max-width: 900px) {
  .intro .wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
    max-height: 100%; 
  }

  .intro .text {
    width: 100%; 
  }

  .intro img {
    width: 250px;
    height: 250px;
    margin: 30px 0; 
  } 
}


/*---------- Looking For/Skills ----------*/
   

.tech .container {
  background-color: #FFB552;
  color: #fff; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.tech .wrapper {
  display: flex;
  justify-content: space-between;
  max-height: 700px;
}

.tech h2 {
  font-size: 36px;
  margin: 50px 15px 25px 15px; 
}

.tech .text {
  width: 60%;
  margin: 15px;
}

text h3 {
  display: block;
}

.tech img {
  display: inline-block;
  max-height: 355px;
  margin: auto;
  width: 40%;
  border-radius: 100%;
}

@media screen and (max-width: 900px) {
  .tech .wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
    max-height: 100%; 
  }

  .tech .text {
    width: 100%; 
  }

  .tech img {
    width: 250px;
    height: 250px;
    margin: 30px 0; 
  } 
}


/*---------- My Work ----------*/


.work .container {
  background-color: #4DF094;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding-bottom: 15px; 
}

.work h2 {
  font-size: 36px;
  margin: 50px 15px 45px 15px; 
}

.work #project-wrapper {
  display: flex;
  justify-content: space-between;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 265px;
  color: #fff;
  background-color: #1E2C51;
  text-align: center;
  overflow: auto;
  border: 5px solid #1E2C51;
  border-radius: 5px;
  height: 400px; 
}

.projectTitle {
  height: 60px;
  width: 100%;
}

.work h3 {
  font-size: 100%;
  font-weight: 700;
  bottom: 50%;
}

.projectDescription {
  height: 125px;
  width: 100%;
}

.projectLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

.projects a {
  display: inline;
}

.work img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.work .btn {
  background-color: #FAB31E;
  color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  text-decoration: none;
}

.work .imgContainer {
  height: 150px;
  width: 100%;
}

@media only screen and (max-width: 880px) {
  .work .wrapper {
    flex-wrap: wrap;
    justify-content: space-around; 
  }

  .work .projects {
    width: 43%;
    min-width: 265px;
    margin: 10px; 
    } 
}

@media only screen and (max-width: 460px) {
  .work .wrapper {
    flex-wrap: wrap;
    justify-content: space-around; 
  }
  .work .projects {
    width: 70%;
    margin: 10px; 
    } 
}


/*---------- Learn More ----------*/


.moreAbout .container {
  background-color: #E6FE51;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-bottom: 10px; 
}

.moreAbout h2 {
  font-size: 36px;
  margin: 50px 0 25px 0;
}

.moreAbout .wrapper {
  display: flex;
  justify-content: space-between; 
}

.moreAbout .splitHalf {
  width: 49%;
  text-align: center; 
}

.moreAbout .codeLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.codeLinks a {
  margin: 5px;
}

.moreAbout h3 {
  font-size: 18px; 
}

.moreAbout .btn {
  background-color: #FAB31E;
  color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  text-decoration: none; 
}

@media only screen and (max-width: 768px) {
  .moreAbout h2 {
    margin: 30px 0 10px 0; 
  }

  .moreAbout .wrapper {
    flex-wrap: wrap; 
  }

  .moreAbout .splitHalf {
    width: 100%; 
  } 
}


/*---------- Footer ----------*/


.footer {
  background-color: #222222;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: white;
  overflow: auto; 
}


