$linkTextColor: #fff;
$darkHeadingColor: #000;
$lightHeadingColor: #fff;



body {
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab"
}

.container {
	max-width: 980px;
	margin: 0 auto;
}

h2, h3 {
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}

/*---------- Header/Nav ----------*/

header {
	background-color: #222222;
	position: fixed;
	z-index: 1000;
	width: 100%;
	h1 {
		float: left;
		color: $lightHeadingColor;
		font-size: 28px;
		margin-left: 15px;
	}
	nav {
		float: right;
		margin-top: 10px;
		margin-right: 15px;
		ul {		
			list-style-type: none;
		}
		li {
			display: inline-block;
		}
		.icon {
				display: none;
		}
		a {
			color: $linkTextColor;
			text-decoration: none;
			padding: 8px 15px;
		}
		a:hover,
		a:focus {
			background-color: #FAB31E;
			color: $linkTextColor;
			border-radius: 0;
			border: none;
		}
	}
}



@media screen and (max-width: 480px) {
	header {
		nav {
			li {
				display: none;
			}
			.icon {
				display: inline-block;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	header {
		nav {
			.clicked li {
				display: inline;

			}
			.clicked li a {
				display: block;
			}
		}
	}
}

/*---------- Jumbotron ----------*/

.intro {
	background: url("../img/index/home.jpg") center center no-repeat;
	background-size: contain;
	background-color: #1E2C51;
	height: 600px;
	color: $lightHeadingColor;
	h2 {
		margin-top: -15px;
		padding-top: 110px;
		text-decoration: none;
		font-size: 36px;
	}
}

@media screen and (max-width: 768px) {
	.intro {
		height: 450px;
		h2 {
			padding-top: 75px;
		}
	}
}

@media screen and (max-width: 550px) {
	.intro {
		display: flex;
		align-items: end;
		justify-content: center;
		height: 300px;
		h2 {
			font-size: 25px;
			margin-bottom: 10px;
		}
	}
}

/*---------- About ----------*/

.about {
	.container {
		display: flex;		
		justify-content: space-between;
	}
	h2 {
		font-size: 36px;
		margin: 50px 15px 25px 15px;
	}
	.text {
		width: 60%;
		margin: 15px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	img {
		margin: 30px;
		width: 30%;
		border-radius: 100%;
	}
}

@media screen and (max-width: 900px) {
	.about {
		.container {
			flex-wrap: wrap-reverse;
			justify-content: center;
		}
		.text {
			width: 100%;
		}
		img {
			width: 250px;
			height: 250px;
			margin: 30px 0;
		}
	}
}

/*---------- My Work ----------*/

.work {
	background-color: #FAB31E;
	padding-bottom: 30px;
	overflow: auto;
	h2 {
		font-size: 36px;
		margin: 50px 15px 45px 15px;
	}
	.container {
		display: flex;
		justify-content: space-between;
		padding: 0 15px;
	}
	.projects {
		width: 30%;
		border: 5px solid #1E2C51;
		border-radius: 5px;
	}
	a {
		text-decoration: none;
	}
	.thumbnail {
		background-color: #1E2C51;
		text-align: center;
		border: none;
		overflow: auto;
	}
	img {
		height: 100%;
		width: 100%;
		background-color: white;
	}
	h3 {
		color: $lightHeadingColor;
		font-size: 100%;
		font-weight: 700;
	}
}

@media only screen and (max-width: 768px) {
	.work {
		.container {
			flex-wrap: wrap;
			justify-content: space-around;
		}
		.projects {
			width: 43%;
			margin: 10px;
		}
	}
}

@media only screen and (max-width: 460px) {
	.work {
		.container {
			flex-wrap: wrap;
			justify-content: space-around;
		}
		.projects {
			width: 70%;
			margin: 10px;
		}
	}
}
/*---------- Learn More ----------*/

.moreAbout {
	background-color: #1E2C51;
	padding-bottom: 25px;
	overflow: auto;
	h2 {
		font-size: 36px;
		margin: 50px 0 25px 0;
		color: $lightHeadingColor;
	}
	.container {
		display: flex;
		justify-content: space-between;
	}
	.splitHalf {
		width: 49%;
		color: white;
		text-align: center;
	}
	h3 {
		font-size: 18px;
	}
	a {
		background-color: #FAB31E;
		color: $linkTextColor;
		padding: 8px 15px;
		border-radius: 3px;
		text-decoration: none;
	}
}

@media only screen and (max-width: 768px) {
	.moreAbout {
		h2 {
			margin: 30px 0 10px 0;
		}
		.container {
			flex-wrap: wrap;
		}
		.splitHalf {
			width: 100%;
		}
	}
}

/*---------- Footer ----------*/

.footer {
	background-color: #222222;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	color: white;
	overflow: auto;
}